# Exercice Jointure-groupage-agrégation avec Pandas
---

Dans cet exercice, c'est la base de données exmeple HR livrée avec Oracle XE.

**Travail demandé**
- Examiner la structure des fichiers CSV (résultant de l'exportation des tables Employees et Departments)
- Traduire les requêtes SQL fournies en utilisant la bibliothèque Pandas

## Importation et affichage des structures

In [1]:
import pandas as pd

In [2]:
departments = pd.read_csv('departments.csv')
print(departments.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   department_id    29 non-null     int64
 1   department_name  29 non-null     object
 2   manager_id       11 non-null     float64
 3   location_id      27 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.0+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype  
---  ------           --------------  -----  
 0   department_id    29 non-null     int64  
 1   department_name  29 non-null     object 
 2   manager_id       11 non-null     float64
 3   location_id      27 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.0+ KB
None

In [3]:
employees = pd.read_csv('employees.csv')
print(employees.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   employee_id     107 non-null    int64
 1   first_name      107 non-null    object
 2   last_name       107 non-null    object
 3   email           107 non-null    object
 4   phone_number    107 non-null    object
 5   hire_date       107 non-null    object
 6   job_id          107 non-null    object
 7   salary          107 non-null    float64
 8   commission_pct  35 non-null     float64
 9   manager_id      106 non-null    float64
 10  department_id   106 non-null    float64
dtypes: float64(4), int64(1), object(6)
memory usage: 9.3+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype  
---  ------          --------------  -----  
 0   employee_id     107 non-null    int64  
 1   first_name      107 non-null    object 
 2   last_name       107 non-null    object 
 3   email           107 non-null    object 
 4   phone_number    107 non-null    object 
 5   hire_date       107 non-null    object 
 6   job_id          107 non-null    object 
 7   salary          107 non-null    float64
 8   commission_pct  35 non-null     float64
 9   manager_id      106 non-null    float64
 10  department_id   106 non-null    float64
dtypes: float64(4), int64(1), object(6)
memory usage: 9.3+ KB
None

## Requête 1

```SQL
SELECT first_name, last_name, department_name
FROM emp, dept
WHERE emp.department_id = dept.department_id
```

In [4]:
joinEmpDept = pd.merge(employees, departments, on='department_id')
print(joinEmpDept[["first_name","last_name","department_name"]])

    first_name last_name   department_name
0       Steven      King         Executive
1        Neena   Kochhar         Executive
2          Lex   De Haan         Executive
3    Alexander    Hunold                IT
4        Bruce     Ernst                IT
..         ...       ...               ...
101        Pat       Fay         Marketing
102      Susan    Mavris   Human Resources
103    Hermann      Baer  Public Relations
104    Shelley   Higgins        Accounting
105    William     Gietz        Accounting

[106 rows x 3 columns]

## Requête 2
```SQL
SELECT first_name, last_name, department_name
FROM emp LEFT OUTER JOIN dept ON emp.department_id = dept.department_id
```

In [7]:
joinEmpDept = pd.merge(employees, departments, on='department_id',how="outer",indicator=True).query('_merge=="left_only"')
print(joinEmpDept[["first_name","last_name","department_name"]])

   first_name last_name department_name
99  Kimberely     Grant             NaN

## Requête 3
```SQL
SELECT e.first_name , e.last_name, c.first_name, c.last_name
FROM emp e, emp c
WHERE e.manager_id = c.employee_id
```

In [11]:
# join employees and employees table where manger_id = employee_id
joinEmpDept = pd.merge(employees, employees, left_on='manager_id', right_on='employee_id')

print(joinEmpDept[["first_name_x","last_name_x","first_name_y","last_name_y"]])

    first_name_x last_name_x first_name_y last_name_y
0          Neena     Kochhar       Steven        King
1            Lex     De Haan       Steven        King
2            Den    Raphaely       Steven        King
3        Matthew       Weiss       Steven        King
4           Adam       Fripp       Steven        King
..           ...         ...          ...         ...
101         Jack  Livingston        Eleni     Zlotkey
102    Kimberely       Grant        Eleni     Zlotkey
103      Charles     Johnson        Eleni     Zlotkey
104          Pat         Fay      Michael   Hartstein
105      William       Gietz      Shelley     Higgins

[106 rows x 4 columns]

## Requête 4
```SQL
SELECT *
FROM emp
GROUP BY department_id
```

AttributeError: module 'pandas' has no attribute 'groupby'

## Requête 5
```SQL
SELECT department_id, count(employee_id)
FROM emp
GROUP BY department_id
```

## Requête 6
```SQL
SELECT department_id, MIN(salary), MAX(salary), AVG(salary), MIN(commission_pct)
FROM emp
GROUP BY department_id
```

### Afficher le salaire moyen du département 60

### Avec pivot_table

## Graphiques 
- Tracer un histogramme des salaires moyens par département
- Tracer un graphique en secteurs du nombre d'employés par job_id
- Créer un nuage de points des salaires en fonction de commission_pct